div.calculator {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    background-color: rgb(34, 32, 32);
    border: 2px solid black;
    margin-top: 200px;
}

div.buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    width: 200px;
}

button {
    height: 30px;
    width: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

button.calc {
    background-color: #555555;
}

button.res {
    background-color: #23bec9;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}

h1 {
    margin-left: 5%;
    color: white;
}

div.inputs {
    margin-left: 5%;
}

input {
    margin-left: auto;
    margin-right: auto;
    margin-left: 10px;
    width: 85%;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-left: 5%;
}

table.inputs {
    margin-left: auto;
    margin-right: auto;
    margin-left: 5%;
    width: 90%;
}

td.sign {
    width: 200px;
    color: white;
}

td.input {
    padding: 0;
    width: 90%;
}