* {
    margin: 0;
}

div.blockControl {
    color:white;
    background-color: rgb(91, 144, 204);
    height: auto;
}

h1 {
    padding: 15px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 2px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
}

td {
    text-align: center;
    padding: 2px;
}

td.left {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

td.right {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

td.both {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

td.bottom {
    border-bottom: 2px solid white;
}

button {
    width: 100px;
    height: 50px;
}

input {
    height: 40px;
    width: 200px;
}

div.block {
    background-color: rgb(128, 128, 128);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100px;
    height: 100px;
    margin-top: 50px;
    overflow: hidden;
    border: 0px;
    border-style: solid;
    box-shadow: none;

}

/*Изменение позиций текста*/
.top-left {
    position: absolute;
    top: 9px;
    left: 9px;
  }
  
  .top-center {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .top-right {
    position: absolute;
    top: 9px;
    right: 9px;
  }
  
  .middle-left {
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
  }
  
  .middle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .middle-right {
    position: absolute;
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
  }
  
  .bottom-left {
    position: absolute;
    bottom: 9px;
    left: 9px;
  }
  
  .bottom-center {
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .bottom-right {
    position: absolute;
    bottom: 9px;
    right: 9px;
  }

